<div class="header">
    <nav>
            <a class="navbar-item" >
                    <img width="100" height="50" src="https://ipace.w.moravia.com/assets/images/webduniaLogo.png">
                  </a>
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About Us</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>

      <a style="float: right;margin-right: 5%" routerLink="/login" routerLinkActive="active">Admin</a>
    </nav>
    </div>