.header{
    flex-shrink: 0;
    flex-grow: 0;
    background: #039be5;
    padding: 3px 5px;
  }

  
nav a {
    padding: 5px 15px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: white;
  }
  nav a:hover {
    color: white;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: white;
  }
  
  